*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: #1f2938;
    display: flex;
    justify-content: space-around;
    padding: 1% 2% 1% 2%;
    align-items: center;
}
.header-link{
    color: #e5e7eb;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    gap: 50px;
    display: flex;
}
.header-text{
    flex-direction: row;
}
.header-logo{
    color: #e5e7eb;
    font-weight: 700;
    font-size: 24px;
}
.web{
    background-color: #1f2938;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    gap: 2%;
}
.web-text{
    width: 30%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.web-main-text{
    font-size: 48px;
    color: #e5e7eb;
    font-weight: 900;
}
.web-sub-text{
    color: #e5e7eb;
    font-size: 18px;
    align-items: start;
}
.web-button{
    color: #e5e7eb;
    font-size: 18px;
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    font-weight: 550;
}
.web-image-div{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.text-section{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}
.text-title{ 
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.text-images{
    display: flex;
    justify-content: space-around;
    gap: 70px;
}
.text-box{
    width:150px;
    height:150px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #3882F6;
    flex-direction: row;
}
.info-box{
    max-width: 150px;
    padding: 5px 5px 50px 5px;
    text-align: center;
}
